# Folders to ignore
bower_components
node_modules
public



# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.bak
*~

# OS or Editor folders
._*
.cache
.DS_Store
.idea
.replace
.compiled_html
.project
.settings
.tmproj
.tmp
.localized
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

# build files 
static/css/goall.css
static/css/goall.min.css
